blueprint.json
{
    "name": "Integration Webhooks",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2536176,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Twilio WhatsApp"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<Response></Response>\r\n​",
                "status": "200",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "text/xml"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "supabase:searchRows",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5515994
            },
            "filter": null,
            "mapper": {
                "limit": "1",
                "table": "chat_history",
                "search": [
                    [
                        {
                            "a": "phone_number",
                            "b": "{{1.To}}",
                            "o": "text:eq."
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "edit",
                            "nested": [
                                {
                                    "name": "search",
                                    "type": "filter",
                                    "label": "Search criteria",
                                    "options": {
                                        "logic": "and",
                                        "store": [
                                            {
                                                "label": "id",
                                                "value": "id"
                                            },
                                            {
                                                "label": "phone_number",
                                                "value": "phone_number"
                                            },
                                            {
                                                "label": "contact_name",
                                                "value": "contact_name"
                                            },
                                            {
                                                "label": "conversation_summary",
                                                "value": "conversation_summary"
                                            }
                                        ],
                                        "operators": [
                                            {
                                                "label": "Text",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "text:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "text:neq."
                                                    },
                                                    {
                                                        "label": "Contains (case sensitive)",
                                                        "value": "text:like."
                                                    },
                                                    {
                                                        "label": "Contains (case insensitive)",
                                                        "value": "text:ilike."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Numbers",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "number:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "number:neq."
                                                    },
                                                    {
                                                        "label": "Greater than",
                                                        "value": "number:gt."
                                                    },
                                                    {
                                                        "label": "Less than",
                                                        "value": "number:lt."
                                                    },
                                                    {
                                                        "label": "Greater than or equal to",
                                                        "value": "number:gte."
                                                    },
                                                    {
                                                        "label": "Less than or equal to",
                                                        "value": "number:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Date",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "date:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "date:neq."
                                                    },
                                                    {
                                                        "label": "Later than",
                                                        "value": "date:gt."
                                                    },
                                                    {
                                                        "label": "Earlier than",
                                                        "value": "date:lt."
                                                    },
                                                    {
                                                        "label": "Later than or equal to",
                                                        "value": "date:gte."
                                                    },
                                                    {
                                                        "label": "Earlier than or equal to",
                                                        "value": "date:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Boolean",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "boolean:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "boolean:neq."
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "My Supabase connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "search",
                        "type": "filter",
                        "label": "Search criteria",
                        "options": {
                            "logic": "and",
                            "store": [
                                {
                                    "label": "id",
                                    "value": "id"
                                },
                                {
                                    "label": "phone_number",
                                    "value": "phone_number"
                                },
                                {
                                    "label": "contact_name",
                                    "value": "contact_name"
                                },
                                {
                                    "label": "conversation_summary",
                                    "value": "conversation_summary"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "text:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "text:neq."
                                        },
                                        {
                                            "label": "Contains (case sensitive)",
                                            "value": "text:like."
                                        },
                                        {
                                            "label": "Contains (case insensitive)",
                                            "value": "text:ilike."
                                        }
                                    ]
                                },
                                {
                                    "label": "Numbers",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "number:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "number:neq."
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "number:gt."
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "number:lt."
                                        },
                                        {
                                            "label": "Greater than or equal to",
                                            "value": "number:gte."
                                        },
                                        {
                                            "label": "Less than or equal to",
                                            "value": "number:lte."
                                        }
                                    ]
                                },
                                {
                                    "label": "Date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "date:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "date:neq."
                                        },
                                        {
                                            "label": "Later than",
                                            "value": "date:gt."
                                        },
                                        {
                                            "label": "Earlier than",
                                            "value": "date:lt."
                                        },
                                        {
                                            "label": "Later than or equal to",
                                            "value": "date:gte."
                                        },
                                        {
                                            "label": "Earlier than or equal to",
                                            "value": "date:lte."
                                        }
                                    ]
                                },
                                {
                                    "label": "Boolean",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "boolean:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "boolean:neq."
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "number",
                        "label": "id"
                    },
                    {
                        "name": "phone_number",
                        "type": "text",
                        "label": "phone_number"
                    },
                    {
                        "name": "contact_name",
                        "type": "text",
                        "label": "contact_name"
                    },
                    {
                        "name": "conversation_summary",
                        "type": "text",
                        "label": "conversation_summary"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer 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"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "contentType": "json",
                "inputMethod": "dataStructure",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "bodyDataStructure": 317592,
                "dataStructureBodyContent": {
                    "model": "llama-3.3-70b-versatile",
                    "messages": [
                        {
                            "role": "system",
                            "content": "Role: You are an elite AI Search Query Translator for the Louis Vuitton eCommerce platform. Task: Read the user's message (which may encompass moods, events, vague requests, or specific products) and output ONLY the 2 to 4 most vital and generic Louis Vuitton search keywords.\r\n\r\nRules:\nUser Memory Context: {{9.conversation_summary}}\r\nIf the user says something vague, use the User Memory Context above to figure out what they are referring to.\nOutput NOTHING except the raw search keywords. No conversational text.\r\nIf the user mentions an event or mood (e.g., \"gala\", \"vacation\", \"feel powerful\"), deduce the most appropriate luxury item category (e.g., \"evening gown\", \"luggage\", \"structured bag\") and output those keywords.\r\nKeep keywords broad enough to yield search results. Never use more than 4 words.\r\nExamples: Input: \"I need a formal dress for a meeting\" -> Output: formal dress women Input: \"a swimwear for nearby lake\" -> Output: swimwear Input: \"I want to buy a gift for my husband's 50th birthday\" -> Output: men watch wallet Input: \"We are packing for Aspen\" -> Output: ski women coat Input: \"I want to look like a boss today\" -> Output: women blazer Capucines\n"
                        },
                        {
                            "role": "user",
                            "content": "{{1.Body}}"
                        }
                    ]
                },
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                            "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "bodyDataStructure": {
                            "label": "Groq Structure"
                        },
                        "dataStructureBodyContent": {
                            "nested": {
                                "messages": {
                                    "mode": "chose",
                                    "items": [
                                        null,
                                        null
                                    ]
                                }
                            }
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "bodyDataStructure",
                        "type": "udt",
                        "label": "Body structure",
                        "required": true
                    },
                    {
                        "name": "dataStructureBodyContent",
                        "spec": [
                            {
                                "name": "model",
                                "type": "text",
                                "label": "Model",
                                "required": true
                            },
                            {
                                "name": "messages",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": null,
                                            "required": true
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": null,
                                            "required": true
                                        }
                                    ],
                                    "type": "collection",
                                    "required": true
                                },
                                "type": "array",
                                "label": "Messages",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Body content"
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.tavily.com/search",
                "method": "post",
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\r\n  \"api_key\": \"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\",\r\n  \"query\": \"site:us.louisvuitton.com {{8.data.choices[].message.content}}\",\r\n  \"include_images\": true,\r\n  \"max_results\": 3\r\n}\r\n",
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "proxyKeychain": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer 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"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "contentType": "json",
                "inputMethod": "dataStructure",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "bodyDataStructure": 317592,
                "dataStructureBodyContent": {
                    "model": "llama-3.3-70b-versatile",
                    "messages": [
                        {
                            "role": "system",
                            "content": "Role: Lauren, Senior Luxury Client Advisor at Louis Vuitton Maison Paris. Tone: Impeccably polite, consultative, extraordinarily luxurious, and concise.\r\n\r\nTask: You are given LIVE search results from the official Louis Vuitton website below.\r\n\r\nSelect the SINGLE most relevant product from the search data.\r\nWrite a highly luxurious, concierge-style reply offering this specific product to the user. Describe why it matches their request.\r\nProvide the official product link (url).\r\nCRITICAL IMAGE RULE: ONLY IF the search data contains a valid, real image or raw_content URL for the product, end your message by placing that exact URL on its own isolated line. NEVER make up, guess, or hallucinate an image URL. NEVER use example.com. If there is no image in the data, simply do not include one.\r\nCRITICAL CONSTRAINTS:\r\n\r\nYour absolute maximum limit is 1200 characters. You must be brief but elegant.\r\nIf the search data is empty or irrelevant, politely apologize and suggest they check a local Maison.\r\nFormat Template: [Your luxurious greeting and description of the item]\r\n\r\nDiscover it here: [Product URL]\r\n\r\n[VALID Image URL from data, ONLY if it exists]\r\n\r\nLIVE SEARCH DATA:{{5.data.results}}"
                        },
                        {
                            "role": "user",
                            "content": "{{1.Body}}"
                        }
                    ]
                },
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                            "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "bodyDataStructure": {
                            "label": "Groq Structure"
                        },
                        "dataStructureBodyContent": {
                            "nested": {
                                "messages": {
                                    "mode": "chose",
                                    "items": [
                                        null,
                                        null
                                    ]
                                }
                            }
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "bodyDataStructure",
                        "type": "udt",
                        "label": "Body structure",
                        "required": true
                    },
                    {
                        "name": "dataStructureBodyContent",
                        "spec": [
                            {
                                "name": "model",
                                "type": "text",
                                "label": "Model",
                                "required": true
                            },
                            {
                                "name": "messages",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": null,
                                            "required": true
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": null,
                                            "required": true
                                        }
                                    ],
                                    "type": "collection",
                                    "required": true
                                },
                                "type": "array",
                                "label": "Messages",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Body content"
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "twilio:SendSMS",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5441614
            },
            "mapper": {
                "to": "{{1.From}}",
                "body": "{{2.data.choices[].message.content}}",
                "from": "whatsapp:+14155238886",
                "fromType": "phone",
                "messageBody": "body"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "mode": "edit"
                        },
                        "fromType": {
                            "mode": "chose",
                            "label": "phone number"
                        },
                        "mediaUrl": {
                            "mode": "chose"
                        },
                        "messageBody": {
                            "mode": "chose",
                            "label": "Create a Body"
                        },
                        "smartEncoded": {
                            "mode": "chose"
                        },
                        "applicationSid": {
                            "mode": "chose"
                        },
                        "provideFeedback": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "twilio"
                            },
                            "label": "My Twilio connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:twilio",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "fromType",
                        "type": "select",
                        "label": "Send a message from",
                        "required": true,
                        "validate": {
                            "enum": [
                                "phone",
                                "service",
                                "channel"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "type": "text",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "messageBody",
                        "type": "select",
                        "label": "Message Body",
                        "required": true,
                        "validate": {
                            "enum": [
                                "body",
                                "template"
                            ]
                        }
                    },
                    {
                        "name": "mediaUrl",
                        "spec": {
                            "name": "value",
                            "type": "url"
                        },
                        "type": "array",
                        "label": "Media URL"
                    },
                    {
                        "name": "smartEncoded",
                        "type": "boolean",
                        "label": "Smart encoded"
                    },
                    {
                        "name": "validityPeriod",
                        "type": "uinteger",
                        "label": "Validity period"
                    },
                    {
                        "name": "statusCallback",
                        "type": "url",
                        "label": "Status callback"
                    },
                    {
                        "name": "applicationSid",
                        "type": "select",
                        "label": "Application"
                    },
                    {
                        "name": "maxPrice",
                        "type": "number",
                        "label": "Max price"
                    },
                    {
                        "name": "provideFeedback",
                        "type": "boolean",
                        "label": "Provide feedback"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Phone number",
                        "required": true
                    },
                    {
                        "name": "body",
                        "type": "text",
                        "label": "Body",
                        "required": true,
                        "validate": {
                            "max": 1600
                        }
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "supabase:upsertARecord",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5515994
            },
            "mapper": {
                "id": "{{9.id}}",
                "table": "chat_history",
                "contact_name": "​\n​",
                "phone_number": "{{4.from}}",
                "conversation_summary": " {{9.conversation_summary}}\n{{now}}  {{4.body}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "chat_history",
                            "nested": [
                                {
                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                    "name": "id",
                                    "type": "integer",
                                    "label": "id",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "phone_number",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "contact_name",
                                    "type": "text",
                                    "label": "contact_name",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "conversation_summary",
                                    "type": "text",
                                    "label": "conversation_summary",
                                    "options": null,
                                    "required": false
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "My Supabase connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "integer"
                    },
                    {
                        "name": "phone_number",
                        "type": "text"
                    },
                    {
                        "name": "contact_name",
                        "type": "text"
                    },
                    {
                        "name": "conversation_summary",
                        "type": "text"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "number",
                        "label": "id"
                    },
                    {
                        "name": "phone_number",
                        "type": "text",
                        "label": "phone_number"
                    },
                    {
                        "name": "contact_name",
                        "type": "text",
                        "label": "contact_name"
                    },
                    {
                        "name": "conversation_summary",
                        "type": "text",
                        "label": "conversation_summary"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}